@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,200Light,700italic&subset=latin');

html,body
{
    text-align: left;
}

#special-p {
   margin-right: 10%;
  margin-left: 10%;
   color:white;
  font-family: 'Lato';
  font-size: 1.5em;
  font-weight: 200;

}

